/* Popover */

.noseur-popover {
	border: 0 none;
	min-width: 50px;
	position: absolute;
	--popoverArrowLeftOffset: 0px;
	--componentMarginTopOrBottom: 10px;
	box-shadow: 0 1px 3px rgb(0 0 0 / 30%);
}

.noseur-popover-arrow:before {
	content: " ";
	display: block;
	position: absolute;
	pointer-events: none;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	top: calc(0px - var(--componentMarginTopOrBottom, 5px));
	left: calc(var(--popoverArrowLeftOffset, 0px) + 1.25rem);
	border-bottom: var(--componentMarginTopOrBottom, 5px) solid #f2f2f2;
}

.noseur-popover-arrow-flipped:before {
	top: 100%;
	border-bottom: 0px;
	border-top: 5px solid #f2f2f2;
}

.noseur-popover-enter {
	opacity: 0;
	transform: scaleY(0.8);
}

.noseur-popover-enter-active {
	opacity: 1;
	transform: scaleY(1);
	transition: transform .12s cubic-bezier(0, 0, 0.2, 1), opacity .12s cubic-bezier(0, 0, 0.2, 1);
}

.noseur-popover-enter-done {
	transform: none;
}

.noseur-popover-exit {
	opacity: 1;
}

.noseur-popover-exit-active {
	opacity: 0;
	transition: opacity .1s linear;
}

/* Dialog */

.noseur-dialog,
.noseur-dialog-modal.noseur-component-overlay {
	pointer-events: auto;
	box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1) !important;
}

.noseur-dialog {
	width: 50%;
	display: flex;
	max-width: 95%;
	max-height: 90%;
	position: relative;
	transform: scale(1);
	flex-direction: column;
	-webkit-transform: scale(1);
}

.noseur-dialog-modal {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0px;
	width: 100%;
	height: 100%;
	display: none;
	position: fixed;
	align-items: center;
	pointer-events: none;
	-ms-flex-pack: center;
	justify-content: center;
	background-color: transparent;
	transition-property: background-color;
	-webkit-transition-property: background-color;
	transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.noseur-dialog-modal.noseur-component-overlay {
	background-color: rgba(0, 0, 0, 0.4);
}

.noseur-dialog-visible {
	display: flex;
}

.noseur-dialog-maximized {
	transition: none;
	width: 100vw !important;
	height: 100vh !important;
	max-height: 100%;
	top: 0 !important;
	left: 0 !important;
}

.noseur-dialog-content {
	margin: 0px;
	padding: 1rem;
	overflow: auto;
	background-color: white;
}

.noseur-dialog-content-bd-t {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.noseur-dialog-content-bd-b {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.noseur-dialog-maximized .noseur-dialog-content {
	-ms-flex-positive: 1;
	flex-grow: 1;
}

.noseur-dialog-header {
	margin: 0px;
	display: flex;
	padding: 1rem;
	overflow: auto;
	align-items: center;
	background: #ffffff;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	justify-content: space-between;
	border-bottom: 1px solid #e9ecef;
}

.noseur-dialog-header.nl {
	justify-content: flex-end;
}

.noseur-dialog .noseur-dialog-header .noseur-dialog-title {
	font-weight: 600;
	font-size: 1.25rem;
}

.noseur-dialog-header-right {
	margin-left: 0.5rem;
}


.noseur-dialog-header-right>.noseur-dialog-header-close-icon,
.noseur-dialog-header-right>.noseur-dialog-header-maximize-icon {
	padding: 0.5rem;
	margin-right: 1rem;
	cursor: pointer;
}

.noseur-dialog .noseur-dialog-footer {
	overflow: auto;
	border-top: 1px solid #e9ecef;
	background: #ffffff;
	color: #212529;
	padding: 1rem;
	text-align: right;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

/*alignment*/

.noseur-dialog-left {
	justify-content: flex-start;
}

.noseur-dialog-right {
	justify-content: flex-end;
}

.noseur-dialog-top {
	align-items: flex-start;
}

.noseur-dialog-top-left {
	justify-content: flex-start;
	align-items: flex-start;
}

.noseur-dialog-top-right {
	justify-content: flex-end;
	align-items: flex-start;
}

.noseur-dialog-bottom {
	align-items: flex-end;
}

.noseur-dialog-bottom-left {
	justify-content: flex-start;
	align-items: flex-end;
}

.noseur-dialog-bottom-right {
	justify-content: flex-end;
	align-items: flex-end;
}

.noseur-confirm-dialog .noseur-dialog-content {
	display: flex;
	overflow: auto;
	align-items: center;
}

/*animation*/

.noseur-dialog-enter {
	opacity: 0;
	transform: scale(0.7);
}

.noseur-dialog-enter-active {
	opacity: 1;
	transform: scale(1);
	transition: all 150ms cubic-bezier(0, 0, 0.2, 1);
}

.noseur-dialog-enter-done {
	transform: none;
}

.noseur-dialog-exit-active {
	opacity: 0;
	transform: scale(0.7);
	transition: all 150ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

/*alignment animations*/
.noseur-dialog-top .noseur-dialog,
.noseur-dialog-bottom .noseur-dialog,
.noseur-dialog-left .noseur-dialog,
.noseur-dialog-right .noseur-dialog,
.noseur-dialog-top-left .noseur-dialog,
.noseur-dialog-top-right .noseur-dialog,
.noseur-dialog-bottom-left .noseur-dialog,
.noseur-dialog-bottom-right .noseur-dialog {
	margin: .75em;
}

.noseur-dialog-top .noseur-dialog-enter,
.noseur-dialog-top .noseur-dialog-exit-active {
	transform: translate3d(0px, -100%, 0px);
}

.noseur-dialog-bottom .noseur-dialog-enter,
.noseur-dialog-bottom .noseur-dialog-exit-active {
	transform: translate3d(0px, 100%, 0px);
}

.noseur-dialog-left .noseur-dialog-enter,
.noseur-dialog-left .noseur-dialog-exit-active,
.noseur-dialog-top-left .noseur-dialog-enter,
.noseur-dialog-top-left .noseur-dialog-exit-active,
.noseur-dialog-bottom-left .noseur-dialog-enter,
.noseur-dialog-bottom-left .noseur-dialog-exit-active {
	transform: translate3d(-100%, 0px, 0px);
}

.noseur-dialog-right .noseur-dialog-enter,
.noseur-dialog-right .noseur-dialog-exit-active,
.noseur-dialog-top-right .noseur-dialog-enter,
.noseur-dialog-top-right .noseur-dialog-exit-active,
.noseur-dialog-bottom-right .noseur-dialog-enter,
.noseur-dialog-bottom-right .noseur-dialog-exit-active {
	transform: translate3d(100%, 0px, 0px);
}

.noseur-dialog-top .noseur-dialog-enter-active,
.noseur-dialog-bottom .noseur-dialog-enter-active,
.noseur-dialog-left .noseur-dialog-enter-active,
.noseur-dialog-top-left .noseur-dialog-enter-active,
.noseur-dialog-bottom-left .noseur-dialog-enter-active,
.noseur-dialog-right .noseur-dialog-enter-active,
.noseur-dialog-top-right .noseur-dialog-enter-active,
.noseur-dialog-bottom-right .noseur-dialog-enter-active {
	transform: translate3d(0px, 0px, 0px);
	transition: all .3s ease-out;
}

.noseur-dialog-top .noseur-dialog-exit-active,
.noseur-dialog-bottom .noseur-dialog-exit-active,
.noseur-dialog-left .noseur-dialog-exit-active,
.noseur-dialog-top-left .noseur-dialog-exit-active,
.noseur-dialog-bottom-left .noseur-dialog-exit-active,
.noseur-dialog-right .noseur-dialog-exit-active,
.noseur-dialog-top-right .noseur-dialog-exit-active,
.noseur-dialog-bottom-right .noseur-dialog-exit-active {
	transition: all .3s ease-out;
}